backend/data/orthodox-calendar/schemas/feasts.xsd

<?xml version='1.0' encoding='utf-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" version="1.0">

  <xsd:element name="feasts">
    <xsd:annotation>
      <xsd:documentation>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="feast" type="FeastType" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="FeastType">
    <xsd:sequence>
      <xsd:element name="refs" type="RefsType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="title" type="TitleType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="date" type="DateType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="hymns" type="HymnsType" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string" />
    <!-- TODO:-->
    <xsd:attribute name="type" type="xsd:string" />
    <xsd:attribute name="rank" type="xsd:string" />
  </xsd:complexType>

  <xsd:complexType name="RefsType">
    <xsd:sequence>
      <xsd:element name="ref" type="RefType" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RefType">
    <xsd:attribute name="id" type="xsd:string" />
  </xsd:complexType>

  <xsd:complexType name="TitleType">
    <xsd:sequence>
      <xsd:element name="ru" type="TextContentType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="cu" type="TextContentType" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ContentType">
    <xsd:sequence>
      <xsd:element name="ru" type="TextContentType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="cu" type="TextContentType" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="TextContentType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>

  <xsd:complexType name="DateType">
    <xsd:sequence>
      <xsd:element name="julian" type="JulianDateType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="easter" type="EasterDateType" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="JulianDateType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="5" />
      <xsd:maxLength value="5" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="EasterDateType">
    <xsd:attribute name="days" type="EasterDateDaysType"/>
  </xsd:complexType>

  <xsd:simpleType name="EasterDateDaysType">
    <xsd:restriction base="xsd:nonNegativeInteger"/>
  </xsd:simpleType>

  <xsd:complexType name="HymnsType">
    <xsd:sequence>
      <xsd:element name="hymn" type="HymnType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="HymnType">
    <xsd:sequence>
      <xsd:element name="title" type="TitleType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="content" type="ContentType" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="type" type="HymnClassType" />
    <xsd:attribute name="echo" type="HymnEchoType" />
  </xsd:complexType>

  <xsd:simpleType name="HymnClassType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="troparion" />
      <xsd:enumeration value="kontakion" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="HymnEchoType">
    <xsd:restriction base="xsd:nonNegativeInteger">
      <xsd:maxInclusive value="8" />
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>